image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
pointcept-brackets-venv
venv
log
exp
weights
data
logs
application/data
outputs/
submit_all_train_jobs.sh
submit_all_test_jobs.sh
.vscode
.idea
*/.DS_Store
**/*.out