services:
  autobonding:
    build: .
    image: autobonding:latest
    container_name: autobonding-monitor
    gpus:
      - device: 0
    shm_size: "8gb"
    volumes:
      - ./application/data:/workspace/application/data
      - ./run_monitor_map.sh:/workspace/run_monitor_map.sh  # Mount the script
    environment:
      - PYTHONPATH=/workspace
      - DISPLAY=:99
      - API_TOKEN=${API_TOKEN}
    command: bash /workspace/run_monitor_map.sh
